@use "./formulario.scss";


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;

  & > div.contiene-formularios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 50vh;
    border-radius: 10px;
    background-color: rgb(245, 240, 231);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.251);

    & > section {
      display: none;

      & > div.iniciar-registar {
        display: flex;
        align-items: center;
        flex-direction: column;

        form {
          @extend %formulario;
        }
        p {
          text-align: center;
          margin-top: 5px;
          font-size: medium;
          width: 170px;
          margin-top: 50px;
        }
        a {
          display: flex;
          text-decoration: none;
          align-items: center;
          height: 100%;
        }
      }
    }
    & > section {
      & > div.iniciar-registar {
        display: flex;
        align-items: center;
        flex-direction: column;

        form {
          @extend %formulario;
        }
        p {
          text-align: center;
          margin-top: 5px;
          font-size: medium;
          width: 170px;
          margin-top: 50px;
        }
        a {
          display: flex;
          text-decoration: none;
          align-items: center;
          height: 100%;
        }
      }
    }
    & > section {
      & > div {
        form {
          @extend %formulario;
        }
      }
    }
  }
  & > div.contiene-calificaciones {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0%;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;

    form {
      @extend %formulario;
    }
    & > div.cont-categorias {
      display: grid;
      width: 100%;
      grid-template-columns: 2fr 1fr 2fr;
      align-items: center;
      margin-top: 4vh;

      & > hr {
        padding: 0;
      }
      & > select {
        border: none;
        outline: none;
        background-color: transparent;
        font-weight: bolder;
        font-size: larger;

        & > option {
          padding: 0;
        }
      }
      & > hr {
        padding: 0;
      }
    }
    & > div.tres-notas {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 20px;
      max-width: 800px;
      width: 100%;

      & > div.notas-individuales {
        padding: 1vh;
        width: 190px;
        overflow: hidden;
        &.oculta {
          width: 0vh;
          padding: 0;

          &>div  {
            transform: scale(0);
            display: none;
        }
      }

        & > div {
          background-color: rgb(245, 240, 231);
          width: 100%;
          flex-wrap: wrap;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border: 1px solid black;
          border-radius: 10px;
          transform: scale(1);

          & > div.titulo-nota {
            display: flex;
            justify-content: space-between;
            width: 100%;
            & > h3 {
              overflow-wrap: anywhere;
              padding: 0 5px 0 5px;
            }
            & > div {
              position: relative;

              & > img.menu-nota {
                padding-top: 5px;
                padding-right: 5px;
              }
              & > ul.ul-nota {
                position: absolute;
                list-style: none;
                right: 50%;
                visibility: hidden;
                & > li {
                  border: 1px solid black;
                  border-radius: 5px;
                  padding: 1px 2px;
                  text-align: center;
                  background-color: white;
                  &:hover {
                    background-color: black;
                    color: white;
                }
                }
              }

              &:hover ul {
                visibility: visible;
              }
            }
          }
          & > div {
            & > p {
              text-align: left;
              font-size: medium;
              overflow-wrap: anywhere;
              padding: 0 5px 0 5px;
            }
            & > select.contenido {
              font-size: larger;
              font-weight: bolder;
              background-color: transparent;
              border-radius: 5px;

              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
  }
  .modal-notas, .modal-datos{
    background-color:rgba(128, 128, 128, 0.168);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility:visible ;

    .cont-modal{
      display: flex;
      flex-direction: column;
      max-width: 50vh;
      background-color: white;
      border-radius: 10px;
      padding: 10px;
      transition: transform 0.3s ease, background-color 0.3s ease;
      transform: scaleY(1);
      
      

      form {
        @extend %formulario;

      }
    }
    &.modal-hidden{
      background-color: transparent;
      visibility:hidden ;
      transition: visibility 0s 0.3s ;


      .cont-modal{
        transform: scaleY(0);
      }
    }
  }
}
